ClientForWcfSevice/Connected Services/StudentListService/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://mycompany.com/wcf" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mycompany.com/wcf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://mycompany.com/wcf/Imports">
      <xsd:import schemaLocation="http://localhost:49893/Service1.svc?xsd=xsd0" namespace="http://mycompany.com/wcf" />
      <xsd:import schemaLocation="http://localhost:49893/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49893/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetStudentsGraterThan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsGraterThan" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudentsGraterThan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsGraterThanResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudentsLowerThan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsLowerThan" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudentsLowerThan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsLowerThanResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudentsInRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsInRange" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudentsInRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsInRangeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetStudentsGraterThan">
      <wsdl:input wsaw:Action="http://mycompany.com/wcf/IService1/GetStudentsGraterThan" message="tns:IService1_GetStudentsGraterThan_InputMessage" />
      <wsdl:output wsaw:Action="http://mycompany.com/wcf/IService1/GetStudentsGraterThanResponse" message="tns:IService1_GetStudentsGraterThan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentsLowerThan">
      <wsdl:input wsaw:Action="http://mycompany.com/wcf/IService1/GetStudentsLowerThan" message="tns:IService1_GetStudentsLowerThan_InputMessage" />
      <wsdl:output wsaw:Action="http://mycompany.com/wcf/IService1/GetStudentsLowerThanResponse" message="tns:IService1_GetStudentsLowerThan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentsInRange">
      <wsdl:input wsaw:Action="http://mycompany.com/wcf/IService1/GetStudentsInRange" message="tns:IService1_GetStudentsInRange_InputMessage" />
      <wsdl:output wsaw:Action="http://mycompany.com/wcf/IService1/GetStudentsInRangeResponse" message="tns:IService1_GetStudentsInRange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Basic" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudentsGraterThan">
      <soap:operation soapAction="http://mycompany.com/wcf/IService1/GetStudentsGraterThan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentsLowerThan">
      <soap:operation soapAction="http://mycompany.com/wcf/IService1/GetStudentsLowerThan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentsInRange">
      <soap:operation soapAction="http://mycompany.com/wcf/IService1/GetStudentsInRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>