ClientForWcfSevice/Connected Services/StudentListService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mycompany.com/wcf" elementFormDefault="qualified" targetNamespace="http://mycompany.com/wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49893/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentWcfService" />
  <xs:element name="GetStudentsGraterThan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mark" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsGraterThanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StudentWcfService" minOccurs="0" name="GetStudentsGraterThanResult" nillable="true" type="q1:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsLowerThan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mark" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsLowerThanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudentWcfService" minOccurs="0" name="GetStudentsLowerThanResult" nillable="true" type="q2:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsInRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minMark" type="xs:float" />
        <xs:element minOccurs="0" name="maxMark" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsInRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StudentWcfService" minOccurs="0" name="GetStudentsInRangeResult" nillable="true" type="q3:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>